[submodule "opencv-mobile"]
	path = opencv-mobile
	url = https://github.com/nihui/opencv-mobile.git
[submodule "opencv/opencv-mobile"]
	path = opencv/opencv-mobile
	url = https://github.com/nihui/opencv-mobile.git
